@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$writing: black;
$c-header: lighten($writing,30%);
$footer:lighten($writing,25%);

$bg-primary: #ffffff;
$bg-secondary: darken($bg-primary,10%);
$bg-tertiary: darken($bg-primary,3%);

@mixin radient-btn {
  color: white;
  border-radius: 30px;
  padding: 15px;
  background: linear-gradient(
    353deg,
    rgba(147, 86, 220, 1) 10%,
    rgba(255, 121, 218, 1) 100%
  );
}
@mixin hover-btn {
  transition: all 300ms ease-in-out;
  &:hover {
    transition: all 300ms ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0.9;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
  }
}
@mixin roboto {
  font-family: "Roboto", sans-serif;
}
@mixin shrik {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}
@mixin box-shadows {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
@mixin animation-apparition {
  animation-name: apparition;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

html {
  @include roboto();
  width: 100%;
}
body {
  width: 100%;
  margin: auto;
  max-width: 1000px;
}
h2 {
  font-size: x-large;
  font-weight: 900;
}
h3 {
  margin: 0px;
}
p {
  font-size: medium;
  font-weight: lighter;
}
a {
  position: relative;
  color: $writing;
  text-decoration: none;
  z-index: 51;
}
ul {
  list-style: none;
}
/* ----------------------LIKE-CHECK ANIMATION -------------------*/
.like__checkbox input[type="checkbox"],
.like__checkbox .checked {
  display: none;
}
.like__checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
  animation-name: apparition 2s;
}
.like__checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}
.like__checkbox{
  z-index: 51;
}
.unchecked {
  cursor: pointer;
}
.checked {
  animation: heart 500ms;
  background: radial-gradient(
    circle,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}
/*-----------------SELECT CHECK ANIMATION -----------*/

input.check {
  display: none;
}
input.check:checked ~ .menu__btn {
  width: 40px;
}
input.check:checked ~ .menu__btn > .fa-check-circle {
  animation: checkcircle 1s;
}

@keyframes heart {
  from {
    transform: scale(0.1);
    transform-origin: bottom;
  }
  to {
    transform: scale(1);
  }
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
@keyframes checkcircle {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(355deg);
  }
}
/*------------------ACCEUIL--------------------------------*/
.header-home {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $bg-primary;
}
.nav-home {
  display: flex;
  justify-content: center;
  padding: 2vh;
  padding-left: 13vw;
  margin: auto;
  background: $bg-secondary;
  box-shadow: inset 0px 8px 10px -10px rgba(0, 0, 0, 0.5);
  color: $c-header;
  &__icon {
    padding-right: 10px;
  }
  &__custom-select {
    z-index: 1;
    font-size: small;
    & select {
      appearance: none;
      border: none;
      background-color: $bg-secondary;
      font-family: inherit;
      font-size: inherit;
      font-weight: bold;
      color: inherit;
      margin: 0px;
      width: 100%;
      outline: none;
      cursor: pointer;
      & option {
        background-color: darken($secondary, $amount: 40%);
        color: $bg-primary;
        border-radius: 15px;
      }
    }
  }
}
.summary {
  display: flex;
  flex-direction: column;
  background: $bg-primary;
}
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bg-tertiary;
  width: 100%;
  padding-bottom: 2em;
  &__title {
    text-align: center;
    margin-bottom: 0px;
    width: 90%;
  }
  & p {
    text-align: center;
    padding: 0% 5% 7% 5%;
    width: 90%;
  }
  & a {
    @include radient-btn();
    @include box-shadows();
    @include hover-btn();
  }
}
.operation {
  display: flex;
  flex-direction: column;
  background: $bg-primary;
  padding-bottom: 5vh;
  margin: auto;
  width: 90%;
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 14em;
    & li {
      margin: auto;
      padding: 1em;
      @include box-shadows();
      border-radius: 17px;
      text-align: left;
      background-color: $bg-tertiary;
      &:hover {
        background: lighten($color: $primary, $amount: 35%);
        transition: 300ms;
        .operation__list__icon {
          color: $primary;
          transition: 300ms;
        }
      }
    }
    &__number {
      display: inline-block;
      position: relative;
      left: -30px;
      color: $bg-primary;
      padding: 10px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      line-height: 10px;
      height: 10px;
      width: 10px;
      background: $primary;
    }
    &__icon {
      position: relative;
      left: -10px;
      color: grey;
    }
  }
}
#restaurants {
  width: 100%;
  background: $bg-tertiary;
}
.restaurants__title {
  margin-left: 1em;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: max-content;
  padding-bottom: 3em;
}
.content-restaurant {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
  max-width: 350px;
  border-radius: 15px;
  background: $bg-primary;
  @include box-shadows();
  @include hover-btn();
  &__new {
    position: relative;
    width: 60px;
    text-align: center;
    top: 2.2em;
    margin-left: 70%;
    margin-top: -2em;
    background-color: $tertiary;
    color: darken($tertiary, $amount: 35%);
    font-weight: 900;
    border: 5px solid $tertiary;
    border-radius: 1px;
    @include box-shadows();
    & p {
      font-size: small;
    }
  }
  & p {
    margin: 0;
  }
  &__description {
    display: flex;
    flex-direction: row;
    &__text {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__like {
      margin: auto;
      text-align: center;
      width: 20%;
    }
  }
  &__img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 150px;
    object-fit: cover;
    object-position: center 60%;
  }
}
.footer {
  width: 100%;
  background-color: $footer;
  color: $bg-tertiary;
  height: 13em;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10.5em;
    &__title {
      letter-spacing: 0.5px;
      margin: 0;
      padding-top: 1em;
      padding-left: 1em;
      @include shrik();
    }
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 7em;
      margin: 0;
      padding-left: 1em;
      a {
        color: $bg-tertiary;
      }
      .fa-utensils {
        font-size: medium;
        width: 30px;
      }
      .fa-hands-helping {
        font-size: smaller;
        width: 30px;
      }
    }
  }
}

/*---------------MENU-----------------------------------*/
.header-menu {
  padding-top: 1px;
  background-color: $bg-tertiary;
  &__icon {
    position: absolute;
    font-size: large;
    left: 5%;
    top: 1.5em;
    & a {
      transition: all 300ms ease;
      &:hover{
       color: $primary;
      }
      
    }

  }
  &__title {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    img {
      width: 45%;
      height: 30px;
    }
  }
}
.container-menu {
  display: flex;
  flex-direction: column;
  background: $bg-tertiary;
  &__background {
    margin: 0;
    width: 100%;
    &__img {
      object-fit: cover;
      width: 100%;
      height: 250px;
    }
  }
  &__header {
    margin-top: -30px;
    background: $bg-tertiary;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    &__title {
      width: 80%;
      @include shrik();
      padding-left: 0.5em;
    }
    .fa-heart {
      padding-top: 1.5em;
    }
  }
  &__content {
    margin-bottom: 3em;
  }
  &__btn {
    display: flex;
    width: 50%;
    max-width: 200px;
    margin: auto;
    margin-bottom: 5em;
    justify-content: center;
    @include hover-btn();
    @include radient-btn();
    @include box-shadows();
  }
}
.content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: auto;
  &__title {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: medium;
    border-bottom: 3px $tertiary solid;
    padding-bottom: 4px;
    width: 40px;
    margin: 0;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    opacity: 0;
    margin-top: 15px;
    &__delay1 {
      animation-delay: 300ms;
      @include animation-apparition();
    }
    &__delay2 {
      animation-delay: 600ms;
      @include animation-apparition();
    }
    &__delay3 {
      animation-delay: 900ms;
      @include animation-apparition();
    }
    &__delay4 {
      animation-delay: 1100ms;
      @include animation-apparition();
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;
  height: 4em;
  background-color: $bg-primary;
  border-radius: 15px;
  @include box-shadows();
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  &__description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding-left: 0.5em;
    p,
    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
    }
  }
  &__price {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-right: 0.5em;
    p {
      margin: 0;
      font-weight: bolder;
    }
  }
  &__btn {
    display: flex;
    flex-shrink: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $tertiary;
    width: 0px;
    transition: width 1s;
    .fa-check-circle {
      color: $bg-primary;
      margin: auto;
      transform-origin: center;
      width: 15px;
    }
  }
}
.check-label {
  width: 100%;
}

/* LOADER */
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $bg-primary;
  z-index: 99;
  animation: loader 3s forwards ;
  animation-delay: 3s;
  
}
.loading-box {
  width: 200px;
  height: 200px;
  display: inline-block;
  color:$bg-primary;
  margin-top: 30vh;
  padding-top: 5vh;
  .loading__heat{
    opacity: 0;
  margin-left: -5vh;
  margin-bottom: -50px;
  background: radial-gradient(
    circle,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
  font-family: "Shrikhand", cursive;
  width: 50vh;
  animation: heat 1s forwards;
  animation-delay: 1.8s;
  }
}
.loading-item {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  box-sizing: content-box;
  & div {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(80px, 80px) scale(1);
    color: #9356dc;
    animation: loading-position 5.5555555555555545s infinite
    cubic-bezier(0, 0.5, 0.5, 1);
  }
  & div:nth-child(1) {
    color: #ff79da;
    transform: translate(148px, 80px) scale(1);
    animation: loading-size 1.3888888888888886s infinite
        cubic-bezier(0, 0.5, 0.5, 1),
      loading-color 5.5555555555555545s infinite step-start;
  }
  & div:nth-child(2) {
    animation-delay: -1.3888888888888886s;
    color: #9356dc;
  }
  & div:nth-child(3) {
    animation-delay: -2.7777777777777772s;
    color: #ff79da;
  }
  & div:nth-child(4) {
    animation-delay: -4.166666666666666s;
    color: #99e2d0;
  }
  & div:nth-child(5) {
    animation-delay: -5.5555555555555545s;
    color: #525252;
  }
}
@keyframes loader{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-1000vh);
  }
}
@keyframes loading-position {
  0% {
    transform: translate(12px, 80px) scale(0);
  }
  25% {
    transform: translate(12px, 80px) scale(0);
  }
  50% {
    transform: translate(12px, 80px) scale(1);
  }
  75% {
    transform: translate(80px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(1);
  }
}
@keyframes loading-size {
  0% {
    transform: translate(148px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(0);
  }
}

@keyframes loading-color {
  0% {
    color: #9356dc;
  }
  25% {
    color: #525252;
  }
  50% {
    color: #99e2d0;
  }
  75% {
    color: #ff79da;
  }
  100% {
    color: #9356dc;
  }
}
@keyframes heat{
  from{
    opacity: 0;
    transform:translateY(100px);
  }
  to{
    opacity:1;
  }
}

/*-------------------------------RESPONSIVE ------------*/ 
@media screen and (min-width : 600px){

  .nav-home{
    padding-left: 8vw;
  }
  .summary{
    &__brother{
      display: flex;
    }
  }
  .reservation{
    width: 50%;
    border-bottom: solid 5px $bg-primary;
  }
  .operation{
    width: 45%;
  }
  .restaurants__container{
    flex-direction: row;
    flex-wrap: wrap;
    .content-restaurant{
      max-width: 340px;
    }
  }

}

@media screen and (min-width:1050px){
  @mixin box-shadow-desktop{
    box-shadow:inset 8px 0 15px -10px #000000,
    inset -8px 0 15px -10px #000000;
  }
  html{
    background: linear-gradient(
    353deg,
    rgba(147, 86, 220, 1) 10%,
    rgba(255, 121, 218, 1) 100%
  );}
  body{
    position: relative;
    z-index: 1;
    &::before{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      content: "";
      @include box-shadow-desktop();
      z-index: 0;
    }
  }
  .nav-home{
    padding-left: 5vh;
  }
}